.task {
  &-card {
    display: block;
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
  }

  &-header-container {
    display: flex;
    justify-content: space-between;
    min-width: 0;
    align-items: center;
  }

  &-header {
    display: block;
    flex: 1;
    min-width: 0;
    max-width: 90%;
    overflow-x: hidden;
  }

  &-title {
    display: block;
    flex: 1;
    min-width: 0;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 2px;
    padding-left: 1em;
    font-size: 16px;
  }
}
